.app.dark {
    --bg-color: #2c2c2c;
    --bg-color-inverted: #f6fafc;

    --primary-color: #f6fafc;
    --secondary-color: #b5bbbe; 
    --primary-color-inverted: #080808;
    --secondary-color-inverted: #1b1b1b;

}