:root {
  --bg-color: hsl(255deg 0% 99% / 100%);
  --on-bg-color: hsl(255deg 0% 10% / 100%);
  --surface: hsl(315deg 0% 99% / 100%);
  --on-surface: hsl(255deg 0% 10% / 100%);

  // surface
  --surface-1: hsl(320deg 0% 98% / 100%);
  --surface-2: hsl(315deg 0% 98% / 100%);
  --surface-3: hsl(300deg 0% 97% / 100%);
  --surface-4: hsl(315deg 0% 97% / 100%);
  --surface-5: hsl(315deg 0% 96% / 100%);

  // primary
  --primary-color: hsl(35deg 100% 40% / 100%);
  --on-primary-color: hsl(35deg 100% 100% / 100%);
  --primary-container: hsl(35deg 100% 90% / 100%);
  --on-primary-container: hsl(35deg 100% 10% / 100%);

  // secondary
  --secondary-color: hsl(137deg 100% 40% / 100%);
  --on-secondary-color: hsl(137deg 100% 100% / 100%);
  --secondary-container: hsl(137deg 100% 90% / 100%);
  --on-secondary-container: hsl(137deg 100% 10% / 100%);

  // tertiary
  --tertiary-color: hsl(267deg 100% 40% / 100%);
  --on-tertiary-color: hsl(267deg 100% 100% / 100%);
  --tertiary-container: hsl(267deg 100% 90% / 100%);
  --on-tertiary-container: hsl(267deg 100% 10% / 100%);

  // error
  --errror-color: hsl(267deg 100% 40% / 100%);
  --on-errror-color: hsl(267deg 100% 100% / 100%);
  --errror-container: hsl(267deg 100% 90% / 100%);
  --on-errror-container: hsl(267deg 100% 10% / 100%);

  // surfacevariant
  --surface-variant-color: hsl(35deg 0% 30% / 100%);
  --on-surface-variant-color: hsl(35deg 0% 80% / 100%);
  --surface-variant-container: hsl(35deg 0% 60% / 100%);
  --on-surface-variant-container: hsl(35deg 0% 30% / 100%);
}
