.app.light {
  --bg-color: #f6fafc;
  --bg-color-inverted: #2c2c2c;
  --primary-color: #080808;
  --secondary-color: #1b1b1b;
  --primary-color-inverted: #f6fafc;
  --secondary-color-inverted: #b5bbbe;
}
