.Header {
    width: 100%;
    height: var(--navbar-height);
    background: var(--bg-color-inverted);
    display: flex;
    align-items: center;
    padding-right: 1.5rem;
}
.links {
    margin-left: auto;
}
.mainLink {
    margin-right: 1.5rem;  
}