.header {
  width: 100%;
  height: var(--sidebar-height);
  background: var(--surface-1);
  display: flex;
  align-items: center;
  padding-right: var(--padding-4);
}

.links {
  margin-left: auto;
}

.ul {
  align-items: center;
  display: flex;
  justify-content: space-around;
  margin: 0 auto 0 0;
  list-style-type: none;
}
