.AppLink {
  color: var(--on-surface-color);
  text-decoration: none;
  padding: var(--padding-2) 0;
  border-radius: var(--rounded-md);

  // &:hover {
  //   background-color: var(--surface-4);
  // }
}
